 *{
 	margin: 0 auto;
 	padding: 0;
 }
@-webkit-keyframes drop{
	0%{ top:-5%; }
	50%{top:50%;opacity: 1;}
	51%{top:50%;opacity: 0;}
	100%{top:50%;opacity: 0;}

}
@keyframes drop{
	0%{ top:-5%; }
	50%{top:50%;opacity: 1;}
	51%{top:50%;opacity: 0;}
	100%{top:50%;opacity: 0;}

}
@-webkit-keyframes scale{
	 
	0%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	20%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	50%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	55%{ -webkit-transform:rotateX(70deg) scale(0.5,0.5); transform:rotateX(70deg) scale(0.5,0.5); }
	100%{ -webkit-transform:rotateX(70deg) scale(1,1); transform:rotateX(70deg) scale(1,1); }


}
@keyframes scale{
	 
	0%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	20%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	50%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	55%{ -webkit-transform:rotateX(70deg) scale(0.5,0.5); transform:rotateX(70deg) scale(0.5,0.5); }
	100%{ -webkit-transform:rotateX(70deg) scale(1,1); transform:rotateX(70deg) scale(1,1); }


}
@-webkit-keyframes scale2{
	 
	0%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	20%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	50%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	55%{ -webkit-transform:rotateX(70deg) scale(0.5,0.5); transform:rotateX(70deg) scale(0.5,0.5); }
	80%{ -webkit-transform:rotateX(70deg) scale(0.8,0.8); transform:rotateX(70deg) scale(0.8,0.8); }
	100%{ -webkit-transform:rotateX(70deg) scale(1,1); transform:rotateX(70deg) scale(1,1); }
}
@keyframes scale2{
	 
	0%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	20%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	50%{ -webkit-transform:rotateX(70deg) scale(0.1,0.1); transform:rotateX(70deg) scale(0.1,0.1); }
	55%{ -webkit-transform:rotateX(70deg) scale(0.5,0.5); transform:rotateX(70deg) scale(0.5,0.5); }
	80%{ -webkit-transform:rotateX(70deg) scale(0.8,0.8); transform:rotateX(70deg) scale(0.8,0.8); }
	100%{ -webkit-transform:rotateX(70deg) scale(1,1); transform:rotateX(70deg) scale(1,1); }
}
@-webkit-keyframes fade-in-fade-out{

	0%{opacity: 0;}
	20%{opacity: 0;}
	50%{opacity: 0;}
	60%{opacity: 1;}
	80%{opacity: 1;}
	100%{opacity: 0;}
}
@keyframes fade-in-fade-out{

	0%{opacity: 0;}
	20%{opacity: 0;}
	50%{opacity: 0;}
	60%{opacity: 1;}
	80%{opacity: 1;}
	100%{opacity: 0;}
}

body{
	background-color: rgb(50,50,50);
}
 .drop,.water1,.water2,.water3{
 	position: absolute;
 	top: 50%;
 	left: 50%;}
.drop{
 	width: 0;
 	height: 0;
 	margin: 0 0 0 -10px;
 	border-left: 10px solid transparent;
 	border-right: 10px solid transparent;
 	border-bottom: 20px solid rgb(153, 235, 255); 
 	-webkit-animation: drop  ease-in 2s infinite; 
 	        animation: drop  ease-in 2s infinite;
 }
 .drop::after{
 	position: absolute;
 	content: "";
 	width: 20px;
 	height: 20px;
 	background-color: rgb(153, 235, 255); 
 	border-radius: 50%;
 	-webkit-transform: translate(-10px,12px);
 	    -ms-transform: translate(-10px,12px);
 	        transform: translate(-10px,12px);
 }


 .water1{
	width: 300px;
	height: 300px;
	margin:  -153px 0 0 -153px;
	border-radius: 50%;
	border: 3px solid rgba(183, 245, 255,0.5);  
	-webkit-animation: scale2 ease-out 2s infinite,fade-in-fade-out linear 2s infinite;  
	        animation: scale2 ease-out 2s infinite,fade-in-fade-out linear 2s infinite;
 }
  .water2{
	width: 320px;
	height: 320px;
	margin:  -164px 0 0 -164px;
	border-radius: 50%;
	border: 4px solid rgba(153, 235, 255,0.5);  
	-webkit-animation: scale ease-out 2s infinite,fade-in-fade-out linear 2s infinite;  
	        animation: scale ease-out 2s infinite,fade-in-fade-out linear 2s infinite;
 }

  .water3{
	width: 200px;
	height: 200px;
	margin:  -102px 0 0 -102px;
	border-radius: 50%;
	border: 2px solid rgba(153, 235, 255,0.5);  
	-webkit-animation: scale ease-out 2s infinite,fade-in-fade-out linear 2s infinite;  
	        animation: scale ease-out 2s infinite,fade-in-fade-out linear 2s infinite;
 }
 
 .msg{
 	width: 100%;
 	position: absolute;
 	bottom: 0;
 	text-align: center;
 	font-family: 'Square721 BT','Montserrat', sans-serif;
 	font-size: 20px;
 
 }